<div id="<%= dom_id place %>">
  <p>
    <strong>Title:</strong>
    <%= place.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= place.description %>
  </p>

  <p>
    <strong>Imagelink:</strong>
    <%= place.imageLink %>
  </p>

</div>
