<div id="<%= dom_id place %>">
  <p>
    <strong>Title:</strong>
    <%= place.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= place.description %>
  </p>

  <p>
    <strong>Image link:</strong>
    <%= place.image_link %>
  </p>

</div>
